.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sectionBody {
  font-size: var(--heading-text-size);
}

.download {
  display: flex;
  gap: 16px;
}

.download img {
  width: 24px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }
}