.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: center;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sectionItemBody {
  font-size: var(--heading-text-size);
}

.download img {
  width: 24px;
}

@media (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }
}