.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  justify-content: center;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sectionItemBody {
  font-size: var(--heading-text-size);
}

@media (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
}