.button {
  all: unset;
  cursor: pointer;
  align-self: flex-start;
  padding: 2px 0;
  transition: all 0.05s;
}

.button:hover {
  color: var(--accent-color);
}

.buttonContent {
  display: flex;
  gap: 8px;
  align-items: center;
}
