.skeleton {
  display: inline-block;
  background-color: var(--loading-color);
  border-radius: 4px;
}

.text {
  height: 1em;
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: 0 55%;
  border-radius: 4px;
}

.text:empty::before {
  content: '\00a0';
}

.circular {
  border-radius: 50%;
}

.rectangular {
  border-radius: 4px;
}

.pulse {
  animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


