.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--title-text-size);
}

.descriptionButton {
  margin-top: 40px;
}

.description {
  margin-top: 80px;
}

.content {
  margin-top: 40px;
}

