.header {
  padding: 16px var(--page-side-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-size: var(--layout-text-size);
}
